.title {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    letter-spacing: -3px;
}

.btn-gray {
    --bs-btn-bg: #333;
    --bs-btn-hover-bg: #0a0a0a;
    --bs-btn-active-bg: black;
    --bs-btn-border-color: white;
    --bs-btn-hover-border-color: white;
    /* position: relative; */
}

.btn-gray.unvalible {
    --bs-btn-active-bg: #0a0a0a; 
}

/* .btn-gray::after {
    content: '';
    display: block;
    width: 100%;
    height: 48px;
    border: solid white 1px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}

.btn-gray:hover::after {
    animation: rotate 1s infinite;
    transition: all .3s;
}

@keyframes rotate {
    25% {
        border-top: solid blue;
    }
    50% {
        border-right: solid blue;
    }
    75% {
        border-bottom: solid blue;
    }
    100% {
        border-left: solid blue;
    }
} */

.unvalible {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 48px;
    overflow: hidden;
}

.unvalible::after {
    content: 'Site em construção!';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: #333;
    transition: all .3s;
}

.unvalible:hover::after {
    transform: translateY(-39px);
    background-color: #0a0a0a;
}

.img-size {
    width: 148px;
    height: 148px;
}

.animate {
    animation: show 1s forwards;
}

@keyframes show {
    0% {
        transform: translateY(25vh);
        opacity: 0;
    }
    50% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}