.title {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 48px;
    letter-spacing: -3px;
}

.btn-gray {
    --bs-btn-bg: #333;
    --bs-btn-hover-bg: #0a0a0a;
    --bs-btn-active-bg: rgb(0, 0, 0);
    --bs-btn-border-color: white;
    --bs-btn-hover-border-color: white;
}

.img-size {
    width: 148px;
    height: 148px;
}

.animate {
    animation: show 1s forwards;
}

@keyframes show {
    0% {
        transform: translateY(25vh);
        opacity: 0;
    }
    50% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}